* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
    background-image: url("../images/phone.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.card {
    background: white;
}

.card-list {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.card-cards {
    padding: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.card-cards {
    border: 2px solid var(--grey);
    padding: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}


.card-photo {
    width: 100%;
    height: 150px;
    border: 2px solid var(--white);
    margin: 0 auto;
}

.card-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}